################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FriendOrganizer.DataAccess/bin/Debug
